<div class="col-xl-12">
  <app-card cardTitle="User List" [options]="false" blockClass="table-border-style">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Role</th>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let i = index">
            <ng-container *ngIf="user.role !== 'ADMIN'">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ user.firstName }}</td>
              <td>{{ user.lastName }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.phoneNumber }}</td>
              <td>{{ user.address }}</td>
              <td>{{ user.role }}</td>
              <td>{{ user.dateOfBirth | date:'yyyy-MM-dd' }}</td>
              <td>{{ user.gender || 'N/A' }}</td>

              <td>

                <button class="btn btn-warning btn-sm" (click)="openBanModal(user, banModal)">Add Ban</button>
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>



<!-- Modale pour ajouter un BanLog -->
<!-- Modale pour ajouter un BanLog -->
<ng-template #banModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="banUserModalLabel">Ban User</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="banForm" (ngSubmit)="onBanSubmit()">
      <div class="mb-3">
        <label for="banDuration" class="form-label">Ban Duration</label>
        <input type="date" class="form-control" id="banDuration" formControlName="banDuration">
        <div *ngIf="banForm.controls['banDuration'].invalid && banForm.controls['banDuration'].touched" class="text-danger">
          The ban duration must be at least one day from today.
        </div>
      </div>
      <div class="mb-3">
        <label for="banReason" class="form-label">Ban Reason</label>
        <input type="text" class="form-control" id="banReason" formControlName="banReason">
      </div>
      <div class="mb-3">
        <label for="status" class="form-label">Status</label>
        <select class="form-control" id="status" formControlName="status">
          <option value="ACTIVE">Active</option>
          <option value="EXPIRED">Expired</option>
        </select>
      </div>
      <button type="submit" class="btn btn-warning">Ban User</button>
    </form>
  </div>
</ng-template>