<app-navbar></app-navbar>

<div class="stricky-header stricked-menu main-menu main-header-two">
    <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
</div><!-- /.stricky-header -->
<section class="page-header page-header--bg-two" data-jarallax data-speed="0.3" data-imgPosition="50% -100%">
    <div class="page-header__bg jarallax-img"></div><!-- /.page-header-bg -->
    <div class="page-header__overlay"></div><!-- /.page-header-overlay -->
    <div class="container text-center">
        <h2 class="page-header__title">Become an Instructor</h2><!-- /.page-title -->
        <ul class="page-header__breadcrumb list-unstyled">
            <li><a href="index.html">Home</a></li>
            <li><span>Instructor</span></li>
        </ul><!-- /.page-breadcrumb list-unstyled -->
    </div><!-- /.container -->
</section><!-- /.page-header -->
<!-- team-details-start -->
<section class="become-team">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 wow fadeInUp animated" data-wow-delay="300ms">
                <div class="become-team__content">
                    <h3 class="become-team__title">Instructor Rules</h3>
                    <ul class="become-team__list">
                        <li>There are many variations of passages of Lorem Ipsum available</li>
                        <li>suffered alteration in some form, by injected humour, or randomised words which don't look
                        </li>
                        <li>ou need to be sure there isn't anything embarrassing hidden</li>
                        <li>If you are going to use a passage of Lorem Ipsum, </li>
                        <li>There are many variations of passages of Lorem Ipsum available</li>
                    </ul>
                    <h3 class="become-team__title">Areas of Expertise</h3>
                    <p class="become-team__text">
                        There are many variations of passages of Lorem Ipsum available, but the majority have
                        suffered alteration in some form,
                        by injected humour, or randomised words which don't look even slightly believable. If
                        you are going to use a passage of
                        Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle
                        of text.
                    </p>
                    <h3 class="become-team__title">Education</h3>
                    <p class="become-team__text">
                        There are many variations of passages of Lorem Ipsum available, but the majority have
                        suffered alteration in some form,
                        by injected humour, or randomised words which don't look even slightly believable. If
                        you are going to use a passage of
                        Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle
                        of text.
                    </p>
                </div>
            </div>
            <div class="col-lg-5 wow fadeInUp animated" data-wow-delay="400ms">
                <div class="become-team__form-box">
                    <h3 class="become-team__form-box__title">Apply for Registration</h3>

                    <form (ngSubmit)="registerInstructor()" enctype="multipart/form-data">
                        <!-- Aperçu de l'image sélectionnée -->
                        <div class="image-preview" *ngIf="selectedFile">
                            <p>Selected Image:</p>
                            <img [src]="imagePreview" alt="Preview" class="preview-img">
                        </div>
                        <div class="form-group">
                            <label for="imageUpload" class="form-label">Profile Picture</label>
                            <input id="imageUpload" class="form-control" type="file" (change)="onFileSelected2($event)">
                            <p *ngIf="errors.image" class="error-message">{{ errors.image }}</p>
                        </div>



                        <div class="become-team__input-box">
                            <input class="form-control" type="text" [(ngModel)]="newUser.firstName" name="firstName"
                                placeholder="First Name" required (blur)="validateFirstName()">
                            <p *ngIf="errors.firstName" class="error-message">{{ errors.firstName }}</p>
                        </div>
                        <div class="become-team__input-box">
                            <input class="form-control" type="text" [(ngModel)]="newUser.lastName" name="lastName"
                                placeholder="Last Name" required (blur)="validateLastName()">
                            <p *ngIf="errors.lastName" class="error-message">{{ errors.lastName }}</p>
                        </div>
                        <div class="become-team__input-box">
                            <input class="form-control" type="email" [(ngModel)]="newUser.email" name="email"
                                placeholder="E-mail Address" required (blur)="validateEmail()">
                            <p *ngIf="errors.email" class="error-message">{{ errors.email }}</p>
                        </div>

                        <div class="become-team__input-box">
                            <input class="form-control" type="date" [(ngModel)]="newUser.dateOfBirth" name="dateOfBirth"
                                required (blur)="validateDateOfBirth()">
                            <p *ngIf="errors.dateOfBirth" class="error-message">{{ errors.dateOfBirth }}</p>
                        </div>
                        <div class="become-team__input-box">
                            <input class="form-control" type="text" [(ngModel)]="newUser.phoneNumber" name="phoneNumber"
                                required placeholder="phone Number" (blur)="validatePhoneNumber()">
                            <p *ngIf="errors.phoneNumber" class="error-message">{{ errors.phoneNumber }}</p>
                        </div>
                        <div class="become-team__input-box">
                            <input class="form-control" type="text" [(ngModel)]="newUser.address" name="address"
                                required placeholder="address" (blur)="validateAddress()">
                            <p *ngIf="errors.address" class="error-message">{{ errors.address }}</p>
                        </div>
                        <div class="become-team__input-box">
                            <input class="form-control" type="text" [(ngModel)]="newUser.speciality" name="speciality"
                                required placeholder="speciality" (blur)="validateSpeciality()">
                            <p *ngIf="errors.speciality" class="error-message">{{ errors.speciality }}</p>
                        </div>
                        <div class="become-team__input-box">
                            <select class="form-control" [(ngModel)]="newUser.gender" name="gender" required
                                (blur)="validateGender()">
                                <option value="" disabled selected>Select Gender</option>
                                <option [value]="Gender.MALE">Male</option>
                                <option [value]="Gender.FEMALE">Female</option>
                            </select>
                            <p *ngIf="errors.gender" class="error-message">{{ errors.gender }}</p>
                        </div>

                        <div class="become-team__input-box">
                            <label for="cv">Upload CV</label>
                            <input type="file" id="cv" name="cv" accept=".pdf,.doc,.docx"
                                (change)="onFileSelected($event)">
                        </div>
                        <div class="become-team__btn-box">
                            <button type="submit" class="eduact-btn eduact-btn-second">
                                <span class="eduact-btn__curve"></span>Become an Instructor<i class="icon-arrow"></i>
                            </button>
                        </div>
                        <div *ngIf="successMessage" class="alert alert-success">
                            {{ successMessage }}
                        </div>
                        <div *ngIf="errorMessage" class="alert alert-danger">
                            {{ errorMessage }}
                        </div>
                    </form>

                    <div class="result"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>