<app-navbar></app-navbar>
<section class="error-page">
    <div class="container">
        <div class="error-page__content">
            <h4 class="error-page__title">Application Added sucsessfully
            </h4><!-- 404-title -->
            <br>
            <!--<h1 class="error-page__404-title">404</h1>-->
            <div class="error-page__thumb">
                <img src="assets1\images\4682641.png" alt="eduact">
            
            </div>
            <br>

            <br>

           

          
            <a href="home" class="eduact-btn eduact-btn-second"><span class="eduact-btn__curve"></span>Back to
                Home<i class="icon-arrow"></i></a><!-- 404-btn -->
        </div><!-- 404-info -->
    </div>
</section>
<br>
<br>
<br>


<app-footer></app-footer>