/* Thème clair (par défaut) */
body.light-theme {
    background-color: white;
    color: black;
  }
  
  /* Thème sombre */
  body.dark-theme {
    background-color: #121212;
    color: white;
  }



