<app-navbar></app-navbar>
<app-notif-pfe></app-notif-pfe>
<section class="about-two about-two--about">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="about-two__thumb wow fadeInLeft" data-wow-delay="100ms"><!-- about thumb start -->
                    <div class="about-two__thumb__one eduact-tilt" data-tilt-options='{ "glare": false, "maxGlare": 0, "maxTilt": 2, "speed": 700, "scale": 1 }'>
                        <img src="assets1/images/resources/about-2-2-about.jpg" alt="eduact">
                    </div><!-- /.about-thumb-one -->
                    <div class="about-two__thumb__two">
                        <img src="assets1/images/resources/about-2-1-about.jpg" alt="eduact">
                        <div class="about-two__thumb__two-icon"><span class="icon-business"></span></div>
                    </div><!-- /.about-thumb-two -->
                    <div class="about-two__fact">
                        <div class="about-two__fact__icon"><span class="icon-trophy"></span></div>
                        <!-- <div class="about-two__fact__content">
                            <div class="about-two__fact__count">
                                +<span class="count-box">
                                    <span class="count-text" data-stop="230" data-speed="1500"></span>
                                </span>
                            </div> /.fact-one__count 
                            <h3 class="about-two__fact__title">Awesome Awards</h3> /.fact-one__title 
                        </div> -->
                    </div><!-- /.fact-item -->
                    <div class="about-two__thumb__shape1 wow zoomIn" data-wow-delay="300ms">
                        <img src="assets1/images/shapes/about-2-shape-1.png" alt="eduact">
                    </div><!-- /.about-shape-one -->
                    <div class="about-two__thumb__shape2 wow zoomIn" data-wow-delay="400ms">
                        <img src="assets1/images/shapes/about-2-shape-2.png" alt="eduact">
                    </div><!-- /.about-shape-two -->
                    <div class="about-two__thumb__shape3 wow zoomIn" data-wow-delay="400ms">
                        <img src="assets1/images/shapes/about-2-shape-3.png" alt="eduact">
                    </div><!-- /.about-shape-two -->
                    <div class="about-two__thumb__shape4 wow zoomIn" data-wow-delay="400ms">
                        <img src="assets1/images/shapes/about-2-shape-4.png" alt="eduact">
                    </div><!-- /.about-shape-two -->
                </div><!-- about thumb end -->
            </div>
            <div class="col-xl-6 wow fadeInRight" data-wow-delay="100ms">
                <div class="about-two__content"><!-- about content start-->
                    <div class="section-title">
                        <h5 class="section-title__tagline">
                            Welcome Partner
                            <svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 13">
                                <g clip-path="url(#clip0_324_36194)">
                                    <path d="M10.5406 6.49995L0.700562 12.1799V8.56995L4.29056 6.49995L0.700562 4.42995V0.819946L10.5406 6.49995Z" />
                                    <path d="M25.1706 6.49995L15.3306 12.1799V8.56995L18.9206 6.49995L15.3306 4.42995V0.819946L25.1706 6.49995Z" />
                                    <path d="M39.7906 6.49995L29.9506 12.1799V8.56995L33.5406 6.49995L29.9506 4.42995V0.819946L39.7906 6.49995Z" />
                                    <path d="M54.4206 6.49995L44.5806 12.1799V8.56995L48.1706 6.49995L44.5806 4.42995V0.819946L54.4206 6.49995Z" />
                                </g>
                            </svg>
                        </h5>
                        <h2 class="section-title__title">Building Meaningful Partnerships for Growth and Innovation </h2>
                    </div><!-- section-title -->
                    <p class="about-two__content__text">
                        We are excited to welcome you as a valued partner in our community. Our platform is designed to connect businesses with students,
                         creating opportunities that drive success for both. By joining us, you gain a dedicated space to share exclusive offers and contribute
                          to a network that fosters learning, collaboration, and innovation.
                    </p>
                    <div class="about-two__about-box">
                        <div class="about-two__about-box__top">
                            <div class="about-two__about-box__icon"><span class="icon-logical-thinking"></span></div>
                            <h4 class="about-two__about-box__title">Our Mission</h4>
                        </div>
                        <p class="about-two__about-box__text">
                            To create a seamless bridge between companies and students by facilitating meaningful partnerships. 
                            We aim to provide businesses with a dedicated space to promote their offers while ensuring students 
                            have access to valuable opportunities that support their growth.
                        </p>
                    </div><!-- /.icon-box -->
                    <div class="about-two__about-box">
                        <div class="about-two__about-box__top">
                            <div class="about-two__about-box__icon"><span class="icon-vision"></span></div>
                            <h4 class="about-two__about-box__title">Our Vision</h4>
                        </div>
                        <p class="about-two__about-box__text">
                            We welcome our partners to be part of a thriving network where collaboration fuels success. 
                            As a valued partner, you have the opportunity to showcase your offers directly to a community 
                            eager for innovation and learning. By joining us, you contribute to shaping the next generation while 
                            expanding your reach and impact.
                        </p>
                    </div><!-- /.icon-box -->
                    <a href="addoffer" class="eduact-btn eduact-btn-second" >
                        <span class="eduact-btn__curve"></span>Add an offer <i class="icon-arrow"></i>
                    </a>
                </div><!-- about content end -->
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
<router-outlet></router-outlet>
