<div class="form-body">
   
    <div class="iofrm-layout">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                     
                    <div class="page-links">
                        <a href="login" >Login</a><a href="register" class="active">Register</a>
                    </div>
                    
                    <form (ngSubmit)="registerUser()">
                        <input class="form-control" type="text" [(ngModel)]="newUser.firstName" name="firstName" placeholder="First Name" required>
                        <input class="form-control" type="text" [(ngModel)]="newUser.lastName" name="lastName" placeholder="Last Name" required>
                        <input class="form-control" type="email" [(ngModel)]="newUser.email" name="email" placeholder="E-mail Address" required>
                        <input class="form-control" type="password" [(ngModel)]="newUser.password" name="password" placeholder="Password" required>
                        <input class="form-control" type="date" [(ngModel)]="newUser.dateOfBirth" name="dateOfBirth" required>
                    
                        <select class="form-control" [(ngModel)]="newUser.gender" name="gender" required>
                            <option value="" disabled selected>Select Gender</option>
                            <option [value]="Gender.MALE">Male</option>
                            <option [value]="Gender.FEMALE">Female</option>
                        </select>
                    
                        <input class="form-control" type="tel" [(ngModel)]="newUser.phoneNumber" name="phoneNumber" placeholder="Phone Number" required>
                        <input class="form-control" type="text" [(ngModel)]="newUser.address" name="address" placeholder="Address" required>
                    
                        <div class="role-selection">
                            <h5>Who are you?</h5>
                            <div class="role-options">
                                <label class="role-card">
                                    <input type="radio" [(ngModel)]="newUser.role" name="role" [value]="Role.STUDENT" required>
                                    <div class="role-content">
                                        <i class="fas fa-user-graduate"></i>
                                        <span>Student</span>
                                    </div>
                                </label>
                                <label class="role-card">
                                    <input type="radio" [(ngModel)]="newUser.role" name="role" [value]="Role.COMPANYREPRESENTIVE" required>
                                    <div class="role-content">
                                        <i class="fas fa-building"></i>
                                        <span>Company Representative</span>
                                    </div>
                                </label>
                            </div>
                        </div>
                    
                        <div class="form-button">
                            <button id="submit" type="submit" class="ibtn">Register</button>
                        </div>
                    </form>
                    

                    <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
                    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

                    <div class="other-links">
                        <span>Or register with</span>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-google"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="image-holder">
            <img src="assets2/images/graphic15.svg" alt="Graphic">
        </div>
    </div>
</div>
