<div class="form-container">
  <img class="left-image" src="assets2/images/graphic13-1.svg" alt="Graphic">

  <div class="form-box">
    <div class="form-content">
      <div class="form-items">
        <div class="page-links">
          <a href="login" class="active">Login</a>
          <a href="register">Register</a>
        </div>

        <!-- Affichage des erreurs -->
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
        

        <!-- Affichage des informations utilisateur après connexion -->
        <div *ngIf="userInfo; else loginForm" class="user-info">
          <p>Bienvenue, <strong>{{ userInfo.name }}</strong> !</p>
          <p>Email : {{ userInfo.email }}</p>

          <!-- Bouton Logout -->
          <button class="btn btn-danger" (click)="logout()">Se déconnecter</button>
        </div>

        <!-- Formulaire de connexion (affiché si userInfo est null) -->
        <ng-template #loginForm>
          <form (ngSubmit)="login()">
            <input class="form-control" type="email" [(ngModel)]="email" name="email" placeholder="E-mail Address"
              required>
            <input class="form-control" type="password" [(ngModel)]="password" name="password" placeholder="Password"
              required>

             <!-- Affichage du champ OTP si nécessaire -->
             <div *ngIf="isOtpRequired">
              <input class="form-control" type="text" [(ngModel)]="otp" name="otp" placeholder="Enter OTP" required>
            </div>

            <div class="form-button">
              <button type="submit" class="ibtn">{{ isOtpRequired ? 'Verify OTP' : 'Login' }}</button>
              <a routerLink="/forget">Forget password?</a>
            </div>
          </form>
        </ng-template>

        <div class="other-links">
          
          <!-- Google Sign-In Button -->
          <div id="g_id_onload"
            data-client_id="297153804677-lou7tiqpeipefqo60c2cltqn400ki2st.apps.googleusercontent.com"
            data-auto_prompt="false"></div>

          <!-- Zone où le bouton Google sera inséré -->
          <div id="googleSignInBtn"></div>
         
          
        </div>
      </div>
    </div>
  </div>

  <img class="top-right-image" src="assets2/images/graphic13-2.svg" alt="Graphic">
</div>

<app-footer></app-footer>